.frameOne {
	position: absolute;
}

.frameTwo {
	position: absolute;
}

.website-frame {
    position: relative;
    overflow: hidden;
    /*top: 40px;*/
    width: 100%;
    height: 1000px; 
    margin: 0;
    padding: 0;
    z-index: 1;
}

iframe {
    /*position: absolute;*/
    width: 100%; 
    height: 100%;
    /*overflow: hidden;*/
    border: none;
    margin: 0;
    padding: 0;
}

.full-frame {
    /*position: absolute;*/
    width: 100%; 
    height: 100%;
    /*overflow: hidden;*/
    border: none;
    margin: 0;
    padding: 0;
}