.divDemoBody  {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.divDemoBody p {
	font-size: 18px;
	line-height: 140%;
	padding-top: 12px;
}

.divDialogElements input {
	font-size: 18px;
	padding: 3px; 
	height: 32px; 
	width: 50%;
}

.divButton {
	padding-top: 12px;
}

.modal {
	width: 75%;
}

.my-modal {
	position: fixed;
	top: 15%;
	left: 10%;
	z-index: 1050;
	overflow: auto;
	width: 80%;
	/*margin: -250px 0 0 -280px;*/
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
