.top-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
	background-color: black;
	width: 100%;
	height: 70px;
	line-height: 70px;
	-webkit-font-smoothing: antialiased;
}

.top-bar .btn {
        margin-right: 5px;
        font-weight: 600;
}

.pure-button {
	margin-right: 5px;
	margin-left: 5px;
	height: 40px;
}

.logo {
	float: left;
}

.filter {
	float: right;
}

#toast {
	z-index: 5000;
	position: fixed;
	top: 50px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	border: 1px solid #666;
	background-color: #B1BCCF;
	padding: 10px 0 ;
	text-align:center;
	opacity: .9;

	/*The good stuff */
	-webkit-transition: opacity 0.5s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: opacity 0.5s ease-out;  /* FF4+ */
	-ms-transition: opacity 0.5s ease-out;  /* IE10? */
	-o-transition: opacity 0.5s ease-out;  /* Opera 10.5+ */
	transition: opacity 0.5s ease-out;

}
