<!doctype html>
<html ng-app>
<head>
	<script src="js/angular.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/todo.js"></script>

	<link rel="stylesheet" href="css/todo.css">
</head>
</body>
	<input type="text" ng-model="name">
	<h2>Hello {{name}}!</h2>

	<div ng-controller="TodoCtrl">
		<h2>Total todos: {{getTotalTodos()}}</h2>
		<ul class="unstyled">
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<form class="form-horizontal">
			<input type="text" ng-model="formTodoText" ng-model-instant>
			<button class="btn" ng-click="addTodo()">Add</button> 
			{{formTodoText}}
		</form>

		<button class="btn-large" ng-click="clearCompleted()">
			Clear Completed
		</button>
	</div>
</body>
</html>
