<!doctype html>
<html ng-app>
  <head>
    <!-- include Parse JS SDK-->
    <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="todo.js"></script>
    <script src="/js/terms.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/proxima-nova.css">
    <link rel="stylesheet" href="/css/terms.css">
  </head>
  <body>

    <div class="logo">
      HackMatch Terms & Conditions
    </div>

    <div class="doc" ng-controller="Terms">
      <div class="terms">
        <h1>Terms</h1>
        <p>
          <strong>Charge:</strong>
          15% of placed full-time hacker's first year's annual salary
        </p>
        <p>
          <strong>Temporary Placement Exception:</strong>
          If a hacker does not stay for more than 90 days, you get a full refund.
        </p>
        <p>
          <strong>I won't waste your time Guarantee:</strong>
          If I introduce you to a dozen placements and there isn't even one you want to give an offer to, then your next placement is free.
        </p>
        <p>
          <strong>Pay:</strong>
          Pay within 30 days of the hacker signing an offer.
        </p>
        <input type="text" ng-model="signerName" placeholder="Enter your name here"> <br>
        <input type="text" ng-model="companyWebsite" placeholder="http://company.com"> <br>
        <input type="text" ng-model="companyEmail" placeholder="you@company.com"> <br>
        <button class="btn btn-primary" ng-click="signUp()">
          HELL YEAH
        </button>
        <p>By pressing HELL YEAH, you accept the terms above.</p>
      </div>
    </div>


  </body>
</html>
