<!doctype html>
<html ng-app>
  <head>
    <!-- include Parse JS SDK-->
    <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="todo.js"></script>
    <script src="/js/terms.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/proxima-nova.css">
    <link rel="stylesheet" href="/css/terms.css">
  </head>
  <body>

    <div class="logo">
      HackMatch Terms & Conditions
    </div>

    <div class="doc" ng-controller="Terms">
      <div class="terms">
        <h1>Terms</h1>
        <p>
          <strong>Charge:</strong>
          20% of placed full-time hacker's first year's annual salary
        </p>
        <p>
          <strong>Temporary Placement Exception:</strong>
          If a hacker does not stay for more than 90 days, you get a full refund.
        </p>
        <p>
          <strong>I won't waste your time Guarantee:</strong>
          If we introduce you to a dozen hackers and there isn't even one you want to give an offer to, then your first placement is free.
        </p>
        <p>
          <strong>Pay:</strong>
          Pay within 30 days of the hacker signing an offer. 
        </p>
        <form role="form" class="form-horizontal">
          <div class="form-group"> 
            <label>Name: </label>
            <input type="text" class="terms-field" ng-model="signerName" placeholder="Full Name"> <br>
          </div>
          <div class="form-group"> 
            <label>Company Website: </label>
            <input type="text" class="terms-field" ng-model="companyWebsite" placeholder="http://company.com"> <br>
          </div>
          <div class="form-group"> 
            <label>Email: </label>
            <input type="email" class="terms-field" ng-model="companyEmail" placeholder="you@company.com"> <br>
          </div>
            <button type="submit" class="btn btn-primary terms-button" ng-click="signUp()">
              HELL YEAH
            </button>
            <p>By pressing HELL YEAH, you accept the terms above.</p>
            <p>
            <strong>To be clear:</strong>
            You are only charged if you hire someone. If you were already speaking to a hacker we introduce you to, you don't pay anything. If you need to negotiate any of these terms, simply send us an email: team@hackmatch.com
            </p>
          </div>
        </form>
      </div>
    </div>


  </body>
</html>
